.component {
  position: relative;

  &[color-theme="light"] {
    .button {
      color: #000;
    }
  }

  &[color-theme="dark"] {
    .button {
      color: #fff;
    }
  }
}

.button {
  position: relative;
  padding: 6px 8px;
  width: 90px;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0;

  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    right: -6px;
    color: #6f757b;
  }

  .icon.arrow {
    position: absolute;
    font-size: 24px;
    color: #6f757b;
    margin-left: 8px;
  }
}

.options {
  position: absolute;
  top: 40px;
  left: 60%;
  transform: translate(-50%);
  width: 138px;
  padding: 8px 0px;
  overflow-y: auto;
  background-color: #282d32;
  border-radius: 4px;
  z-index: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  .option {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    color: #fff;
    cursor: pointer;

    .icon.check {
      font-size: 20px;
      color: #444ae8;
    }

    &:hover {
      background-color: #181c20;
    }

    &.selected {
      color: #6e85fc;
    }
  }
}
