.wrapper {
  position: relative;
  width: calc(100% - 180px);
  max-width: 1300px;
  padding: 200px 0px;
  margin: 0 auto;
  white-space: pre-wrap;
  overflow: hidden;
}

.text {
  .sub-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(
        0deg,
        rgb(115, 55, 255) 0%,
        rgb(49, 69, 255) 100%
      )
      text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 14px;
  }

  .title {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: normal;
  }

  .description {
    color: #f6f7f8;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 140%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    max-width: 844px;
    padding: 100px 0;
  }

  .text {
    .sub-title {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }

    .title {
      font-size: 3.2rem;
      font-weight: 600;
    }

    .description {
      font-size: 1.8rem;
      margin-top: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 630px;
    width: calc(100% - 140px);
  }

  .text {
    .title {
      font-size: 2.8rem;
    }

    .description {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: calc(100% - 40px);
    padding: 48px 0;
  }

  .text {
    .sub-title {
      font-size: 1.4rem;
    }

    .title {
      font-size: 2rem;
    }

    .description {
      font-size: 1.2rem;
      margin-top: 10px;
    }
  }
}
