@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Pretendard/Pretendard-Medium.woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Pretendard/Pretendard-SemiBold.woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Pretendard/Pretendard-Bold.woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Pretendard/Pretendard-ExtraBold.woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Pretendard/Pretendard-Black.woff");
}

html {
  font-size: 10px;
}

body {
  margin: 0;

  &,
  * {
    outline: none;
    box-sizing: border-box;
    font-family: "Pretendard";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    border: 0;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }
}

code {
  font-family: "Pretendard";
}
