.component {
  padding-top: 8px;

  img.container {
    max-width: 722px;
    width: 100%;
    height: auto;
  }
}

.slider {
  position: absolute;
  top: 45%;
  left: 410px;
  width: 1020px;

  .slide {
    position: relative;
    width: 340px;
    height: 434px;

    img.background {
      position: absolute;
      width: 307px;
    }

    .title {
      position: absolute;
      bottom: 28px;
      left: 24px;
      z-index: 1;
      font-size: 24px;
      font-weight: 700;
      line-height: 168%;
      color: #fff;
      display: flex;

      img.icon {
        margin-left: 4px;
      }
    }
  }
}

.arrows {
  position: absolute;
  top: -72px;
  left: 85px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;

  .arrow {
    padding: 0;
  }
}
